<!-- New Footer -->
<footer class="usa-footer usa-footer-medium" role="contentinfo">

	<!-- Footer columuns -->
	<div class="footer-container">
		<div class="footer-col-1-phone">
			<div class="footer-col f-col-1">
				<p>The information on this site provides information for public awareness. Reference to any commercial product does not constitute endorsement by GSA.</p>

				<p>The FedRAMP name and the FedRAMP logo are the property of the General Services Administration (GSA).</p>

				<p>For more information, please see
					<a class="footer-brand-guide-link"
						href="https://www.fedramp.gov/disclaimers"
						target="_blank" rel="noopener">FedRAMP Disclaimers</a>.</p>
			</div>

			<div class="footer-col f-col-2">
				<div class="street-address">
					<h4>Connect With Us</h4>
					<p>Please reach out to FedRAMP with any questions.</p>
				</div>
				<div class="info-mailbox">
					<p class="footer-contact"><a class="" href="mailto:info@FedRAMP.gov" target="_blank">
							<img class="footer-mail-icon" src="https://www.fedramp.gov/assets/img/footer-mail-icon.svg"
								alt="mail to fedramp">info&#64;FedRAMP.gov</a></p>
				</div>
			</div>
			<div class="clearfix mobile-clear"></div>
		</div>

		<div class="footer-row">

			<div class="footer-col f-col-3">
				<div class="footer-social">
					<h4>Follow Us</h4>
				</div>
				<div class="footer-social">
					<p><a target="_blank" href="https://twitter.com/fedramp?lang=en">
							<img src="https://www.fedramp.gov/assets/img/FedRAMP_twitter.svg" alt="twitter icon"
								style="margin: 0px 15px 0px 0px; position: relative; top: 8px;"> X
						</a></p>
					<p><a target="_blank" href="https://www.youtube.com/c/FedRAMP?lang=en">
							<img src="https://www.fedramp.gov/assets/img/FedRAMP-youtube.svg" alt="youtube icon"
								style="margin: 0px 15px 0px 0px; position: relative; top: 8px;"> YouTube
						</a></p>
				</div>

			</div>
		</div>

		<div class="footer-col f-col-4">
			<div class="newsletter-footer">

				<h4>Keep Up To Date</h4>
				<p>To receive news and updates, join the GSA’s <span class="no-wrap;">subscriber list.</span></p>
				<div class="newsletter-inner">
					<a class="footer-submit" href="https://public.govdelivery.com/accounts/USGSA/subscriber/new"
						target="_blank">Subscribe</a>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>

	</div>

	<!-- Bottom Footer -->
</footer>

<div class="usa-identifier">
	<section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,"
		style="padding-bottom: 0;">
		<div class="footer-container">
			<div class="usa-identifier__container">
				<div>
					<a href="https://www.gsa.gov/" target="_blank"><img class="usa-footer-logo-img"
							src="https://www.fedramp.gov/assets/img/gsa-reversed-logo.svg" alt="GSA logo"></a>
				</div>
				<div class="usa-identifier__identity" aria-label="Agency description">
					<p class="usa-identifier__identity-domain">FedRAMP.gov</p>
					<p class="usa-identifier__identity-disclaimer">
						An official website of the GSA’s <a
							href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services"
							class="gov-links">Technology Transformation Services</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="footer-container" style="padding-bottom: 0;">
		<nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,">
			<div class="usa-identifier__container">
				<ul class="usa-identifier__required-links-list">
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/about-us" class="usa-identifier__required-link usa-link">About
							GSA</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/website-information/accessibility-statement"
							class="usa-identifier__required-link usa-link">Accessibility statement</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
							class="usa-identifier__required-link usa-link">GSA FOIA</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
							class="usa-identifier__required-link usa-link">No FEAR Act data</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link">Office of the
							Inspector General</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/reference/gsa-plans-and-reports"
							class="usa-identifier__required-link usa-link">Performance reports</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/reference/gsa-privacy-program"
							class="usa-identifier__required-link usa-link">GSA privacy policy</a>
					</li>
					<li class="usa-identifier__required-links-item">
						<a href="https://www.gsa.gov/vulnerability-disclosure-policy"
							class="usa-identifier__required-link usa-link">Vulnerability disclosure policy</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<section class="usa-identifier__section usa-identifier__section--usagov"
		aria-label="U.S. government information and services,">
		<div class="footer-container">
			<div class="usa-identifier__container">
				<div class="usa-identifier__usagov-description" style="margin-left: 0;">
					Looking for U.S. government information and services?
				</div>
				<a href="https://www.usa.gov/" class="usa-link gov-links">Visit USA.gov</a>
			</div>
		</div>
	</section>

</div>