@import '../../assets/sass/elements.scss';

button.fr-selection:hover {
    background-color: #07799C;
    color: #fff;
}

.fr-selection  {
    display: inline-block;
    width: 191px;
    margin: 0 5px;
    text-transform: uppercase;
}

.fr-selection {
    font-weight: 600;
    outline: 0;
    border: 1px solid $teal;
    box-shadow: none;
    border-radius: 0;
    background-color: #fff;
    color: #07799C;
    display: inline-block;
    max-width: 400px;
    height: 48px;
}

.filter-container {
    text-align: center;
}

.active {
    background: #07799C;
    color: #ffffff;
}

@media all and (max-width: 767px) {
    .fr-selection {
        display: block;
        margin: 0 auto 10px auto;
        max-width: 75%;
        min-width: 300px;
    }
}