<div *ngIf="isCachePresent">
  <section class="mp-product-company-info">
    <div class="grid-container fedramp-page-container">

        <!-- Company Inforation Column-->
    
        <div class="grid-row">
            <div class="tablet:grid-col-9">
                <img src="{{assessor.logo}}" alt="{{assessor.name}}" title="{{assessor.name}}" class="product-info-logo" >
                <h2 class="detail-company-info">{{assessor.name}}</h2>
           
            </div>
        
            <div class="tablet:grid-col-3">
                <div class="grid-row product-info-stats">
                      
                        <div class="grid-col-12 info-box">
                            <div class="stats">
                                <div>
                                    <h3 class="mp-info-title">Agency Authorizations</h3>
                                    <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="product-info-authoriaztions-number counter"><p>{{assessor.products_assessing}}</p></div>
                            </div>
                        </div>
                </div>
                <div class="grid-row">
                    <div class="grid-row-12">
                        <div class="accredited-date clearfix">
                            <h3>Accredited Since</h3>
                            <p>{{assessor.accredited_since | date:'MM/dd/YYYY'}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Contact Inforation -->
        <div class="grid-row product-info-details">
            <div class="grid-col-12 mp-details-contact-info">
                <h3 class="tablet:margin-top-0">Contact Information</h3>
                <p><strong>POC:</strong> {{assessor.poc}}</p>
                <p><strong>E-mail:</strong> {{assessor.email}}</p>
                <p><strong>Founded:</strong> {{assessor.founded}}</p>
                <p><strong>Address:</strong> {{assessor.address}}</p>
            </div>
        </div>


        <!-- Details -->
    
        <div class="grid-row grid-gap product-info-details">
            <div class="tablet:grid-col-6">
                <div>
                    <h3>Assessor Description</h3>
                    <p style="white-space: pre-wrap;">{{assessor.desc}}</p>
                </div>

                <div>
                    <h3>Consulting Services</h3>
                    <p style="white-space: pre-wrap;">{{assessor.services}}</p>
                </div>

                <div>
                    <h3>CSPs providing consulting services to</h3>
                    <p style="white-space: pre-wrap;">{{assessor.csps}}</p>
                </div>

                <div>
                    <h3>Additional Cyber Frameworks</h3>
                    <p style="white-space: pre-wrap;">{{assessor.frameworks}}</p>
                </div>
            </div>

            <div class="tablet:grid-col-6">

                <div>
                    <h3>Current Client</h3>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
                
    </div>
  </section>
</div>
