<section class="mp-product-company-info">
    <div class="grid-container">

        <!-- Company Inforation Column-->
    
        <div class="grid-row">
            <div class="tablet:grid-col-9">
                <img src="../../assets/images/logos/cloud-gov-logo.png" alt="Cloud.gov" title="Cloud.gov" class="product-info-logo" >
                <h2>18F Cloud.gov</h2>
           
            </div>
        
            <div class="tablet:grid-col-3">
                <div class="grid-row product-info-stats">
                      
                        <div class="grid-col-12 info-box">
                            <div class="stats">
                                <div>
                                    <h3 class="mp-info-title">Agency Authorizations</h3>
                                    <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="product-info-authoriaztions-number counter"><p>4</p></div>
                            </div>
                        </div>
                </div>
                <div class="grid-row">
                    <div class="grid-row-12">
                        <div class="accredited-date clearfix">
                            <h3>Accredited Since</h3>
                            <p>07/16/2015</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Contact Inforation -->
        <div class="grid-row product-info-details">
            <div class="grid-col-12 mp-details-contact-info">
                <h3 class="margin-top-0">Contact Information</h3>
                <p><strong>POC:</strong> N/A</p>
                <p><strong>E-mail:</strong> inqueries@cloud.gov</p>
                <p><strong>Founded:</strong> 2009</p>
                <p><strong>Address:</strong> 400 N Ashley Drive Suite 1325, Tampa, FL 33602</p>
            </div>
        </div>


        <!-- Details -->
    
        <div class="grid-row grid-gap product-info-details">
            <div class="tablet:grid-col-6">
                <div>
                    <h3>Assessor Description</h3>
                    <p>As an accredited FedRAMP 3PAO, A-LIGN is able to conduct the FedRAMP pre-assessment and security assessment based on the published templates and testing guidance. A-LIGN offers a FedRAMP pre-assessment to identify potential non-conformities, prior to beginning the security assessment. A-LIGN’s security assessors and dedicated penetration testing team execute the FedRAMP assessment in accordance with the FedRAMP requirements. As an assessor firm originally accredited by FedRAMP and having performed a security assessment for a certified CSP, we have the experience required to execute a comprehenisve assessment.</p>
                </div>

                <div>
                    <h3>Consulting Services</h3>
                    <p>A-LIGN offers consulting services in order to prepare organizations prior to their FedRAMP assessment. Our experienced assessors can develop the required templates and supporting policies and procedures to prepare your company for the FedRAMP assessment. Additionally, A-LIGN can assist with POA&M remediation. Our consulting services help companies meet the rigorous FedRAMP requirements.</p>
                </div>

                <div>
                    <h3>CSPs providing consulting services to</h3>
                    <ul>
                        <li>TIBCO Software Inc</li>
                        <li>CGI Technology and Solutions Inc</li>
                    </ul>
                </div>

                <div>
                    <h3>Additional Cyber Frameworks</h3>
                    <ul>
                        <li>PCI DSS</li>
                        <li>ISO 27001</li>
                        <li>HITRUST</li>
                        <li>HIPAA/HITECH</li>
                        <li>FISMA</li>
                        <li>SOC 1/SSAE 16</li>
                        <li>SOC 2/AT 101</li>
                        <li>ISAE 3402 Inc</li>
                    </ul>
                </div>
            </div>

            <div class="tablet:grid-col-6">
                <div>
                    <h3>Current Client</h3>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>
                </div>

                <div>
                    <h3>Current Client</h3>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
                
    </div>
    </section>