<app-about-marketplace></app-about-marketplace>

<app-links></app-links>

<style>
  .d-none {
    display: none;
  }
  .d-search-none {
    display: none;
  }
  .cursor-pointer {
    cursor: pointer;
  }
</style>

<section>
  <div class="grid-container mp-search-main">
    <div class="grid-row">

      <!-- <div class="tablet:grid-col-2 grid-offset-10 padding-0 page-display-select">
        <p>Number of items shown at a time</p>
        <select name="display-number" id="display-number">
          <option value="twenty-five">25</option>
          <option value="fifty">50</option>
          <option value="seventy-five">75</option>
          <option value="one-hundred">100</option>
        </select>
      </div> -->

    </div>
  </div>

  <div class="grid-container padding-3 marketplace-type-container">

    <!-- Search Column-->
    <div class="grid-row">
      <div class="tablet:grid-col-2 padding-right-3 results-search">

        <label id='clear-search-desktop' class="cursor-pointer d-none" onclick="clearSearch();">X Clear Search</label>
        <label id='clear-filters-desktop' class="cursor-pointer d-none" onclick="clearFilter();">X Clear Filters</label>
        <br>
        <input type="text" onkeyup="filterSearch(this.value);" id="clear-search" name="clear-search" placeholder="Search by Provider or Product" >



        <p class="mp-container-total-search-results">{{data.Assessors.length}} total</p>

        <!-- Accordian -->
        <div class="search-container">

          <div *ngIf="data.Filters.assessor.product_assessing.length != 0" class="usa-accordion">
            <h4 class="usa-accordion__heading accordian-title">
              <button type="button" class="usa-accordion__button accordian-title" aria-expanded="false" aria-controls="a1">
                <strong>Products Assessing</strong>
              </button>
            </h4>
            <div id="a1" class="usa-accordion__content usa-prose" hidden="">
              <div *ngFor="let i of data.Filters.assessor.product_assessing">
                <li id="{{i.class_name}}" onclick="filterRows(this.id);" class="cursor-pointer filter-item-desktop">{{i.name}}</li>
              </div>
            </div>
          </div>

          <div *ngIf="data.Filters.assessor.impact_level.length != 0" class="usa-accordion">
            <h4 class="usa-accordion__heading accordian-title">
              <button type="button" class="usa-accordion__button accordian-title" aria-expanded="false" aria-controls="a2">
                <strong>Impact Level</strong>
              </button>
            </h4>
            <div id="a2" class="usa-accordion__content usa-prose" hidden="">
              <div *ngFor="let i of data.Filters.assessor.impact_level">
                <li id="{{i.class_name}}" onclick="filterRows(this.id);" class="cursor-pointer filter-item-desktop">{{i.name}}</li>
              </div>
            </div>
          </div>

          <div *ngIf="data.Filters.assessor.status.length != 0" class="usa-accordion">
            <h4 class="usa-accordion__heading accordian-title">
              <button type="button" class="usa-accordion__button accordian-title" aria-expanded="false" aria-controls="a3">
                <strong>Offering Status</strong>
              </button>
            </h4>
            <div id="a3" class="usa-accordion__content usa-prose" hidden="">
              <div *ngFor="let i of data.Filters.assessor.status">
                <li id="{{i.class_name}}" onclick="filterRows(this.id);" class="cursor-pointer filter-item-desktop">{{i.name}}</li>
              </div>
            </div>
          </div>

        </div>


      </div>
      <!-- Results Column-->
      <div class="grid-col-10">
        <div class="grid-row search-sortable mp-sortable-column display-none desktop:display-flex">
          <div class="grid-col-10 product_column-provider">
            <span id="sort-header-0-desktop" class="sort-header-desktop cursor-pointer sort-none" onclick="sortCol(0);">Name</span>
          </div>
          <div class="grid-col-2 product_column-service_offering text-center">
            <span id="sort-header-1-desktop" class="sort-header-desktop cursor-pointer sort-none" onclick="sortCol(1,true);">Products Assessing</span>
          </div>
        </div>


        <div *ngIf="isCachePresent" id="sort-table-desktop">
          <div *ngFor="let a of data.Assessors" class="{{a.filter_classes}}">
            <div class="grid-row mp-search-results display-none desktop:display-flex">
              <div class="grid-col-10 company-logo-column product_column-service_offering ">
                <div class="assessors-logo">
                  <a href="/assessors/{{a.id}}" target="_blank">
                    <img src="{{a.logo}}" alt="{{a.name}}" title="{{a.name}}" class="">
                  </a>
                </div>
                <div class="assessors-name">
                  <span class="sort-col-0-desktop">{{a.name}}</span>
                </div>
              </div>

              <div class="grid-col-2 product_column-reuse text-center">
                <span class="sort-col-1-desktop">{{a.products_assessing}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Mobile Accordian -->

    <div class="search-container desktop:display-none">

      <div class="usa-accordion">
        <h4 class="usa-accordion__heading accordian-title">

          <label id='clear-all-mobile' class="cursor-pointer d-none" onclick="clearFilter('mobile');">X Clear All</label>
          <button type="button" class="usa-accordion__button" aria-expanded="false" aria-controls="m1">
            Filter Results
          </button>
        </h4>
        <div id="m1" class="usa-accordion__content usa-prose" hidden="">
          <div class="grid-row">
            
            <!-- <div class="grid-col-12">
              <p>Number of items shown at a time</p>
              <select name="display-number" id="display-number">
                <option value="twenty-five">25</option>
                <option value="fifty">50</option>
                <option value="seventy-five">75</option>
                <option value="one-hundred">100</option>
              </select>
            </div> -->

          </div>

          <div class="grid-row">

            <div *ngIf="data.Filters.assessor.product_assessing.length != 0" class="grid-col-4">
              <p><strong>Products Assessing</strong></p>
              <div *ngFor="let i of data.Filters.assessor.product_assessing">
                <li id="{{i.class_name}}" onclick="filterRows(this.id, 'mobile');" class=" filter-item-mobile">{{i.name}}</li>
              </div>
            </div>

            <div *ngIf="data.Filters.assessor.impact_level.length != 0" class="grid-col-4">
              <p><strong>Impact Level</strong></p>
              <div *ngFor="let i of data.Filters.assessor.impact_level">
                <li id="{{i.class_name}}" onclick="filterRows(this.id, 'mobile');" class=" filter-item-mobile">{{i.name}}</li>
              </div>
            </div>

            <div *ngIf="data.Filters.assessor.status.length != 0" class="grid-col-4">
              <p><strong>Offering Status</strong></p>
              <div *ngFor="let i of data.Filters.assessor.status">
                <li id="{{i.class_name}}" onclick="filterRows(this.id, 'mobile');" class=" filter-item-mobile">{{i.name}}</li>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <!-- Mobile Search Results -->

    <div *ngIf="isCachePresent" id="sort-table-mobile">
      <div *ngFor="let a of data.Assessors" class="{{a.filter_classes}}">
        <a href="/assessors/{{a.id}}" target="_blank" class="company-info-link">
          <div class="grid-row mp-search-results mobile-results padding-4 display-flex desktop:display-none">
            <div class="desktop:grid-col-4  product_column-service_offering assessors-company-logo">
              <img src="{{a.logo}}" alt="{{a.name}}" title="{{a.name}}">
            </div>
            <div class="desktop:grid-col-8 product_column-service_offering">
              <span>{{a.name}}</span>
            </div>
            <div class="grid-col-12 padding-0">
              <div class="grid-row grid-gap">
                <div class="grid-col-6">
                  <div class="product_column-authorization result">
                    <h4>Products Assessing</h4>
                    <p><span>{{a.products_assessing}}</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- <nav aria-label="Pagination" class="usa-pagination">
      <ul class="usa-pagination__list">
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="javascript:void(0);" class="usa-pagination__link usa-pagination__previous-page"
            aria-label="Previous page"><svg class="usa-icon" aria-hidden="true" role="img">
              <use xlink:href="../../assets/uswds/dist/img/sprite.svg#navigate_before"></use>
            </svg>
            <span class="usa-pagination__link-text">Previous</span></a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a href="javascript:void(0);" class="usa-pagination__button" aria-label="Page 1">1</a>
        </li>
        <li class="usa-pagination__item usa-pagination__overflow" role="presentation">
          <span>…</span>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a href="javascript:void(0);" class="usa-pagination__button" aria-label="Page 9">9</a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a href="javascript:void(0);" class="usa-pagination__button usa-current" aria-label="Page 10"
            aria-current="page">10</a>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a href="javascript:void(0);" class="usa-pagination__button" aria-label="Page 11">11</a>
        </li>
        <li class="usa-pagination__item usa-pagination__overflow" role="presentation">
          <span>…</span>
        </li>
        <li class="usa-pagination__item usa-pagination__page-no">
          <a href="javascript:void(0);" class="usa-pagination__button" aria-label="Last page, page 24">24</a>
        </li>
        <li class="usa-pagination__item usa-pagination__arrow">
          <a href="javascript:void(0);" class="usa-pagination__link usa-pagination__next-page"
            aria-label="Next page"><span class="usa-pagination__link-text">Next </span><svg class="usa-icon"
              aria-hidden="true" role="img">
              <use xlink:href="../../assets/uswds/dist/img/sprite.svg#navigate_next"></use>
            </svg></a>
        </li>
      </ul>
    </nav> -->

  </div>
</section>