<app-about-marketplace></app-about-marketplace>

<app-links></app-links>

<section>
  <div class="grid-container mp-search-main">
      <div class="grid-row">
          <div class="tablet:grid-col-2 grid-offset-10 padding-0 page-display-select">
              <p>Number of items shown at a time</p>
              <select name="display-number" id="display-number">
                  <option value="volvo">25</option>
                  <option value="saab">50</option>
                  <option value="opel">75</option>
                  <option value="audi">100</option>
                </select>
  

          </div>
      </div>
  </div>

  <div class="grid-container padding-3 marketplace-type-container">
     
      <!-- Search Column-->
      <div class="grid-row">
          <div class="tablet:grid-col-2 padding-right-3 results-search">
              <label>X Clear All</label>
              <br>
              <input type="text" id="clear-search" name="clear-search" placeholder="Search by Provider or Product" >



              <p class="mp-container-total-search-results">301 results</p>

              <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple aria-multiselectable="true">
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button mp-accordian_button"
                      aria-expanded="true"
                      aria-controls="m-a1"
                    >
                    Products Assessing
                    </button>
                  </h4>
                  <div id="m-a1" class="usa-accordion__content usa-prose mp-accordian_accordion">
                      <ul>
                          <li>Ready (40)</li>
                          <li>In Process (20)</li>
                          <li>Authorized (20)</li>
                        </ul>
                  </div>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button mp-accordian_button"
                      aria-expanded="false"
                      aria-controls="m-a2"
                    >
                    Assessment Impact Level
                    </button>
                  </h4>
                  <div id="m-a2" class="usa-accordion__content usa-prose mp-accordian_accordion">
                    <ul>
                      <li>This is a list item</li>
                      <li>Another list item</li>
                    </ul>
                  </div>
                  <h4 class="usa-accordion__heading">
                    <button
                      type="button"
                      class="usa-accordion__button mp-accordian_button"
                      aria-expanded="false"
                      aria-controls="m-a3"
                    >
                      Offering Status
                    </button>
                  </h4>
                  <div id="m-a3" class="usa-accordion__content usa-prose mp-accordian_accordion">
                      <ul>
                          <li>This is a list item</li>
                          <li>Another list item</li>
                        </ul>
                  </div>               
              </div>
                

      
          </div>
          <!-- Results Column-->
          <div class="grid-col-10">
              <div class="grid-row search-sortable mp-sortable-column display-none desktop:display-flex">
                  <div class="grid-col-10 product_column-provider">
                      <span>Name</span>
                  </div>
                  <div class="grid-col-2 product_column-service_offering text-center">
                      <span>Products Assessing</span>
                  </div>
               
              </div>
              <div class="grid-row mp-search-results display-none desktop:display-flex">
                  <div class="grid-col-10 company-logo-column product_column-service_offering ">
                      <div class="assessors-logo"><a href="/assessors-info" target="_blank"><img src="../../assets/img/logos/CSP_logos/Cloud.gov Logo.png" alt="Cloud.gov" title="Cloud.gov" ></a></div>  
                        
                        <div class="assessors-name"><span>18F Cloud.gov</span></div>
                  </div>
              
                  <div class="grid-col-2 product_column-reuse text-center">
                    <span>10</span>
                  </div>
              </div>
          </div>

      </div>



                 <!-- Mobile Search Results -->
                 <a href="/product-info" target="_blank" class="company-info-link">

                 <div class="grid-row mp-search-results mobile-results padding-4 display-flex desktop:display-none">
                  <div class="grid-col-4  product_column-service_offering assessors-company-logo">
                   <img src="../../assets/img/logos/CSP_logos/Cloud.gov Logo.png" alt="Cloud.gov" title="Cloud.gov" >
                   </div>
                     <div class="grid-col-8 product_column-service_offering">
                       <span>18F Cloud.gov</span>
                     </div>
                     <div class="grid-col-12 padding-0">
                        <div class="grid-row grid-gap">
                          <div class="grid-col-6">
                            <div class="product_column-authorization result">
                              <h4>Products Assessing</h4>
                              <p><span>9</span></p>
                            </div>
                          </div>
                        </div>
                     </div>

                    
                 </div>
                </a>

                 <nav aria-label="Pagination" class="usa-pagination">
                  <ul class="usa-pagination__list">
                    <li class="usa-pagination__item usa-pagination__arrow">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__link usa-pagination__previous-page"
                        aria-label="Previous page"
                        ><svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="./../assets/uswds/dist/img/sprite.svg#navigate_before"></use>
                        </svg>
                        <span class="usa-pagination__link-text">Previous</span></a
                      >
                    </li>
                    <li class="usa-pagination__item usa-pagination__page-no">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__button"
                        aria-label="Page 1"
                        >1</a
                      >
                    </li>
                    <li
                      class="usa-pagination__item usa-pagination__overflow"
                      role="presentation"
                    >
                      <span>…</span>
                    </li>
                    <li class="usa-pagination__item usa-pagination__page-no">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__button"
                        aria-label="Page 9"
                        >9</a
                      >
                    </li>
                    <li class="usa-pagination__item usa-pagination__page-no">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__button usa-current"
                        aria-label="Page 10"
                        aria-current="page"
                        >10</a
                      >
                    </li>
                    <li class="usa-pagination__item usa-pagination__page-no">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__button"
                        aria-label="Page 11"
                        >11</a
                      >
                    </li>
                    <li
                      class="usa-pagination__item usa-pagination__overflow"
                      role="presentation"
                    >
                      <span>…</span>
                    </li>
                    <li class="usa-pagination__item usa-pagination__page-no">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__button"
                        aria-label="Last page, page 24"
                        >24</a
                      >
                    </li>
                    <li class="usa-pagination__item usa-pagination__arrow">
                      <a
                        href="javascript:void(0);"
                        class="usa-pagination__link usa-pagination__next-page"
                        aria-label="Next page"
                        ><span class="usa-pagination__link-text">Next </span
                        ><svg class="usa-icon" aria-hidden="true" role="img">
                          <use xlink:href="../../assets/uswds/dist/img/sprite.svg#navigate_next"></use></svg></a>
                    </li>
                  </ul>
                </nav>
                
  </div>
  </section>