<app-about-marketplace></app-about-marketplace>

<app-links></app-links>


<section>
    <div class="grid-container mp-search-main">
        <div class="grid-row">
            <div class="tablet:grid-col-2 grid-offset-10 padding-0 page-display-select">
                <p>Number of items shown at a time</p>
                <select name="display-number" id="display-number">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                  </select>
    

            </div>
        </div>
    </div>

    <div class="grid-container padding-3 marketplace-type-container">
       
        <!-- Search Column-->
        <div class="grid-row">
            <div class="tablet:grid-col-2 padding-right-3 results-search">
                <label>X Clear All</label>
                <br>
                <input type="text" id="clear-search" name="clear-search" placeholder="Search by Provider or Product" >

                <p class="mp-container-total-search-results">301 results</p>

                <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple aria-multiselectable="true">
                    <h4 class="usa-accordion__heading">
                      <button
                        type="button"
                        class="usa-accordion__button mp-accordian_button"
                        aria-expanded="true"
                        aria-controls="m-a1"
                      >
                        Status
                      </button>
                    </h4>
                    <div id="m-a1" class="usa-accordion__content usa-prose mp-accordian_accordion">
                        <ul>
                            <li>Ready (40)</li>
                            <li>In Process (20)</li>
                            <li>Authorized (20)</li>
                          </ul>
                    </div>
                    <h4 class="usa-accordion__heading">
                      <button
                        type="button"
                        class="usa-accordion__button mp-accordian_button"
                        aria-expanded="false"
                        aria-controls="m-a2"
                      >
                        Business Category
                      </button>
                    </h4>
                    <div id="m-a2" class="usa-accordion__content usa-prose mp-accordian_accordion">
                      <ul>
                        <li>This is a list item</li>
                        <li>Another list item</li>
                      </ul>
                    </div>
                    <h4 class="usa-accordion__heading">
                      <button
                        type="button"
                        class="usa-accordion__button mp-accordian_button"
                        aria-expanded="false"
                        aria-controls="m-a3"
                      >
                        Service Model
                      </button>
                    </h4>
                    <div id="m-a3" class="usa-accordion__content usa-prose mp-accordian_accordion">
                        <ul>
                            <li>This is a list item</li>
                            <li>Another list item</li>
                          </ul>
                    </div>
                    <h4 class="usa-accordion__heading">
                      <button
                        type="button"
                        class="usa-accordion__button mp-accordian_button"
                        aria-expanded="false"
                        aria-controls="m-a4"
                      >
                        Impact Levels
                      </button>
                    </h4>
                    <div id="m-a4" class="usa-accordion__content usa-prose mp-accordian_accordion">
                        <ul>
                            <li>This is a list item</li>
                            <li>Another list item</li>
                          </ul>
                    </div>
                    <h4 class="usa-accordion__heading">
                      <button
                        type="button"
                        class="usa-accordion__button mp-accordian_button"
                        aria-expanded="false"
                        aria-controls="m-a5"
                      >
                        Authorization Type
                      </button>
                    </h4>
                    <div id="m-a5" class="usa-accordion__content usa-prose mp-accordian_accordion">
                        <ul>
                            <li>This is a list item</li>
                            <li>Another list item</li>
                          </ul>
                    </div>

                    <h4 class="usa-accordion__heading">
                        <button
                          type="button"
                          class="usa-accordion__button mp-accordian_button"
                          aria-expanded="false"
                          aria-controls="m-a6"
                        >
                          Deployment Models
                        </button>
                      </h4>
                      <div id="m-a6" class="usa-accordion__content usa-prose mp-accordian_accordion">
                          <ul>
                              <li>This is a list item</li>
                              <li>Another list item</li>
                            </ul>
                      </div>

                      <h4 class="usa-accordion__heading">
                        <button
                          type="button"
                          class="usa-accordion__button mp-accordian_button"
                          aria-expanded="false"
                          aria-controls="m-a7"
                        >
                          Small Business
                        </button>
                      </h4>
                      <div id="m-a7" class="usa-accordion__content usa-prose mp-accordian_accordion">
                          <ul>
                              <li>This is a list item</li>
                              <li>Another list item</li>
                            </ul>
                      </div>

                      <h4 class="usa-accordion__heading">
                        <button
                          type="button"
                          class="usa-accordion__button mp-accordian_button"
                          aria-expanded="false"
                          aria-controls="m-a8"
                        >
                          Assesors
                        </button>
                      </h4>
                      <div id="m-a8" class="usa-accordion__content usa-prose mp-accordian_accordion">
                          <ul>
                              <li>This is a list item</li>
                              <li>Another list item</li>
                            </ul>
                      </div>
                </div>
            </div>

            <!-- Large Monitor Results Column-->
            <div class="grid-col-12 desktop:grid-col-10">
                <div class="grid-row search-sortable mp-sortable-column">
                    <div class="grid-col-2 product_column-provider">
                        <span>Provider</span>
                    </div>
                    <div class="grid-col-2 product_column-service_offering">
                        <span>Service Offering</span>
                    </div>
                    <div class="grid-col-2 product_column-service_model">
                        <span>Service Model</span>
                    </div>
                    <div class="grid-col-2 product_column-impact_level">
                        <span>Impact Level</span>
                    </div>
                    <div class="grid-col-1 product_column-status">
                        <span>Status</span>
                    </div>
                    <div class="grid-col-2 text-center product_column-authorization">
                        <span>Authorizations</span>
                    </div>
                    <div class="grid-col-1 text-center product_column-reuse">
                      <span>Reuse</span>
                    </div>
                </div>

                <!-- Results -->
                <div class="grid-row mp-search-results display-none desktop:display-flex">
                 <div class="grid-col-2 company-logo-column product_column-service_offering">
                  <a href="/product-info" target="_blank"><img src="../../assets/images/logos/cloud-gov-logo.png" alt="Cloud.gov" title="Cloud.gov" ></a>
                    </div>
                    <div class="grid-col-2 product_column-service_offering">
                      <span>18F Cloud.gov</span>
                    </div>
                    <div class="grid-col-2 product_column-service_model">
                      <span>PaaS</span>
                    </div>
                    <div class="grid-col-2 product_column-impact_level">
                      <span>Moderate</span>
                    </div>
                    <div class="grid-col-1 product_column-status">
                      <span>Ready</span>
                    </div>
                    <div class="grid-col-2 product_column-authorization result">
                      <span>9</span>
                    </div>
                    <div class="grid-col-1 product_column-reuse result">
                      <span>10</span>
                    </div>
                </div>


                <!-- Mobile Search Results -->
                <a href="/product-info" target="_blank" class="company-info-link"> 

                <div class="grid-row mp-search-results mobile-results padding-4 display-flex desktop:display-none">
                  <div class="gid-col-12 desktop:grid-col-2 company-logo-column product_column-service_offering">
                   <img src="../../assets/images/logos/cloud-gov-logo.png" alt="Cloud.gov" title="Cloud.gov" >
                   </div>
                     <div class="gid-col-12 desktop:grid-col-2 product_column-service_offering">
                       <span>18F Cloud.gov</span>
                     </div>
                     <div class="grid-col-12 padding-0">
                        <div class="grid-row grid-gap">
                          <div class="grid-col-6">
                            <div class="product_column-authorization result">
                              <h4>Authorizations</h4>
                              <p><span>9</span></p>
                            </div>
                            <div class="product_column-reuse result">
                              <h4>Reuse</h4>
                              <p><span>10</span></p>
                            </div>

                          </div>
                          <div class="grid-col-6 padding-top-4">
                            <div class="product_column-service_model">
                              <h5>Service Model</h5>
                              <span>PaaS</span>
                            </div>
                            <div class="product_column-impact_level">
                              <h5>Impact Level</h5>
                              <span>Moderate</span>
                            </div>
                            <div class="product_column-status">
                              <h5>Status</h5>
                              <span>Ready</span>
                            </div>
                          </div>

                        </div>
                     </div>

                 </div>  
                </a>    
            </div>

            
        </div>
          <!-- Pagination -->

          <nav aria-label="Pagination" class="usa-pagination">
            <ul class="usa-pagination__list">
              <li class="usa-pagination__item usa-pagination__arrow">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__link usa-pagination__previous-page"
                  aria-label="Previous page"
                  ><svg class="usa-icon" aria-hidden="true" role="img">
                    <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
                  </svg>
                  <span class="usa-pagination__link-text">Previous</span></a
                >
              </li>
              <li class="usa-pagination__item usa-pagination__page-no">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__button"
                  aria-label="Page 1"
                  >1</a
                >
              </li>
              <li
                class="usa-pagination__item usa-pagination__overflow"
                role="presentation"
              >
                <span>…</span>
              </li>
              <li class="usa-pagination__item usa-pagination__page-no">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__button"
                  aria-label="Page 9"
                  >9</a
                >
              </li>
              <li class="usa-pagination__item usa-pagination__page-no">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__button usa-current"
                  aria-label="Page 10"
                  aria-current="page"
                  >10</a
                >
              </li>
              <li class="usa-pagination__item usa-pagination__page-no">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__button"
                  aria-label="Page 11"
                  >11</a
                >
              </li>
              <li
                class="usa-pagination__item usa-pagination__overflow"
                role="presentation"
              >
                <span>…</span>
              </li>
              <li class="usa-pagination__item usa-pagination__page-no">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__button"
                  aria-label="Last page, page 24"
                  >24</a
                >
              </li>
              <li class="usa-pagination__item usa-pagination__arrow">
                <a
                  href="javascript:void(0);"
                  class="usa-pagination__link usa-pagination__next-page"
                  aria-label="Next page"
                  ><span class="usa-pagination__link-text">Next </span
                  ><svg class="usa-icon" aria-hidden="true" role="img">
                    <use xlink:href="/assets/img/sprite.svg#navigate_next"></use></svg></a>
              </li>
            </ul>
          </nav>
    </div>
    </section>