<div *ngIf="cf.isCachePresent()">

  <div *ngIf="agency.sub === ''; then tThenBlock else tElseBlock"></div>
  <ng-template #tThenBlock>
    <div id="update-title" style="display:none;">{{agency.parent}}</div>
  </ng-template>
  <ng-template #tElseBlock>
    <div id="update-title" style="display:none;">{{agency.sub}}</div>
  </ng-template>


  <section class="mp-product-company-info">
    <div class="grid-container fedramp-page-container">

      <!-- Contact Inforation -->
      <div class="grid-row">
        <div class="desktop:grid-col-8 mp-details-contact-info">
          <h3 class="mp-info-title">Agency Liaison Contact Information</h3>
          <!-- Information Modal -->
          <div class="mp-info-button">
            <a href="#example-modal-2" class="usa-button" aria-controls="example-modal-2" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-2" aria-labelledby="modal-2-heading"
              aria-describedby="modal-2-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-2-description">
                      If the agency has a shared inbox related to FedRAMP activities it will be listed in this section.
                      If there is no email address listed, one has not been provided to the FedRAMP PMO by this agency.
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <p><strong>E-mail:</strong> {{agency.email}}</p>
          <p><strong>Website:</strong> {{agency.website}}</p>
        </div>
        <div class="desktop:grid-col-4">
          <div class="grid-row product-info-stats">

            <div class="tablet:grid-col-6 info-box">
              <div class="stats">
                <div>
                  <h3 class="mp-info-title">Authorizations</h3>
                  <!-- Information Modal -->
                  <div class="mp-info-button">
                    <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal><svg
                        class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                      </svg></a>
                    <div class="usa-modal" id="example-modal-1" aria-labelledby="modal-1-heading"
                      aria-describedby="modal-1-description">
                      <div class="usa-modal__content">
                        <div class="usa-modal__main">

                          <div class="usa-prose">
                            <p id="modal-1-description">
                              Total number of Authority to Operate (ATO) or Authority to Use (ATU) letters on file with
                              FedRAMP by this agency.
                            </p>
                          </div>

                        </div>
                        <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                          data-close-modal>
                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- End Modal -->

                </div>
                <div class="clearfix"></div>
                <div class="product-info-authoriaztions-number counter">
                  <p>{{agency.authorization}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Details -->

      <div class="grid-row grid-gap product-info-details">
        <div class="tablet:grid-col-6">

          <div>
            <div>
              <h3 class="mp-info-title">Authorizations</h3>
              <!-- Information Modal -->
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-3" class="usa-button" aria-controls="example-modal-3" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-3" aria-labelledby="modal-3-heading"
                  aria-describedby="modal-3-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-3-description">
                          Names of Cloud Service Offerings that this federal agency has provided a copy of their
                          Authority to Operate (ATO) or Authority to Use (ATU) letters to FedRAMP.
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </div>
            <div class="clearfix"></div>
            <div *ngIf="agency.auths.length == 0; then authsThenBlock else authsElseBlock"></div>
            <ng-template #authsThenBlock>
              <div class="grid-row assessor-current-clients ">
                <div class="grid-col-6 ">
                  <p><strong>N/A</strong></p>
                </div>
              </div>
            </ng-template>
            <ng-template #authsElseBlock>
              <div *ngFor="let i of agency.auths">
                <div class="grid-row assessor-current-clients ">
                  <div class="grid-col-6 ">
                    <p><strong>{{i.csp}}</strong></p>
                    <p><a href="products/{{i.id}}">{{i.cso}}</a></p>
                  </div>

                  <div class="grid-col-6 assessor-status">
                    {{i.status}}
                  </div>
                </div>
              </div>
            </ng-template>
          </div>


        </div>

        <div class="tablet:grid-col-6">
          <div>
            <h3 class="mp-info-title">In Process</h3>
            <!-- Information Modal -->
            <div class="mp-info-button mp-info-button-top-margin">
              <a href="#example-modal-4" class="usa-button" aria-controls="example-modal-4" data-open-modal><svg
                  class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                </svg></a>
              <div class="usa-modal" id="example-modal-4" aria-labelledby="modal-4-heading"
                aria-describedby="modal-4-description">
                <div class="usa-modal__content">
                  <div class="usa-modal__main">

                    <div class="usa-prose">
                      <p id="modal-4-description">
                        Names of Cloud Service Offerings that this federal agency is working with towards an initial
                        authorization.
                      </p>
                    </div>

                  </div>
                  <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                    data-close-modal>
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <!-- End Modal -->

            <div *ngIf="agency.procs.length == 0; then procsThenBlock else procsElseBlock"></div>
            <ng-template #procsThenBlock>
              <div class="grid-row assessor-current-clients ">
                <div class="grid-col-6 ">
                  <p><strong>N/A</strong></p>
                </div>
              </div>
            </ng-template>
            <ng-template #procsElseBlock>
              <div *ngFor="let i of agency.procs">
                <div class="grid-row assessor-current-clients ">
                  <div class="grid-col-6 ">
                    <p><strong>{{i.csp}}</strong></p>
                    <p><a href="products/{{i.id}}">{{i.cso}}</a></p>
                  </div>

                  <div class="grid-col-6 assessor-status">
                    {{i.status}}
                  </div>
                </div>
              </div>
            </ng-template>
          </div>

        </div>
      </div>

    </div>
  </section>
</div>