<section class="mp-product-company-info">
    <div class="grid-container fedramp-page-container">

        <!-- Company Inforation Column-->
    
        <div class="grid-row">
            <div class="desktop:grid-col-8">
                <img src="../../assets/img/logos/CSP_logos/Cloud.gov Logo.png" alt="Cloud.gov" title="Cloud.gov" class="product-info-logo" >
                <h2 class="detail-company-info">18F Cloud.gov</h2>
           
            </div>
        
            <div class="desktop:grid-col-4">
                <div class="grid-row product-info-stats">
                      
                        <div class="tablet:grid-col-6 info-box">
                            <div class="stats">
                                <div>
                                    <h3 class="mp-info-title">Authorizations</h3>
                                    <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="product-info-authoriaztions-number counter"><p>5</p></div>
                            </div>
                        </div>
                        <div class="tablet:grid-col-6 info-box">
                            <div class="stats">
                                <div>
                                    <h3 class="mp-info-title">Reuse</h3>
                                    <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                    
                                </div>
                                <div class="clearfix"></div>
                                <div class="product-info-authoriaztions-number counter"><p>5</p></div>
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <!-- Contact Inforation -->
        <div class="grid-row">
            <div class="grid-col-12 mp-details-contact-info">
                <h3>Agency Liaison Contact Information</h3>
                <p><strong>E-mail:</strong> inqueries@cloud.gov</p>
                <p><strong>Website:</strong> www.cloud.gov</p>
            </div>
        </div>


        <!-- Details -->
    
        <div class="grid-row grid-gap product-info-details">
            <div class="tablet:grid-col-6">
                
                <div>
                    <div>
                        <h3 class="mp-info-title">Authorizations</h3>
                        <!-- Information Modal -->
                     <div class="mp-info-button mp-info-button-top-margin">
                        <a
                          href="#example-modal-1"
                          class="usa-button"
                          aria-controls="example-modal-1"
                          data-open-modal
                          ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                          </svg></a
                        >
                        <div
                          class="usa-modal"
                          id="example-modal-1"
                          aria-labelledby="modal-1-heading"
                          aria-describedby="modal-1-description"
                        >
                          <div class="usa-modal__content">
                            <div class="usa-modal__main">
                             
                              <div class="usa-prose">
                                <p id="modal-1-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                </p>
                              </div>
                         
                            </div>
                            <button
                              type="button"
                              class="usa-button usa-modal__close"
                              aria-label="Close this window"
                              data-close-modal
                            >
                              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="tablet:grid-col-6">
                
                <div>
                    <h3 class="assessors-clients">Reuse</h3>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>
                </div>


                <div>
                    <h3 class="assessors-clients">In Process</h3>
                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>

                    <div class="grid-row assessor-current-clients ">
                        <div class="grid-col-6 ">
                            <p><strong>AchieveIt Online, LLC.</strong></p>
                            <p><a href="#">AchieveIt</a></p>
                        </div>
                       
                        <div class="grid-col-6 assessor-status">
                            Fed RAMP Authroized
                        </div>
                    </div>                    
                </div>


                
            </div>
        </div>
                
    </div>
    </section>