<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<app-nav></app-nav>

<app-title></app-title>

<router-outlet></router-outlet>

<app-footer></app-footer>

<a id="topButton"></a>

<script>

    /// scroll to top button js ////

var btn = $('#topButton');

$(window).scroll(function() {
if ($(window).scrollTop() > 300) {
btn.addClass('show');
} else {
btn.removeClass('show');
}
});

btn.on('click', function(e) {
e.preventDefault();
$('html, body').animate({scrollTop:0}, '300');
});

// End Scroll to Top //
</script>