<div *ngIf="isCachePresent">
  <section class="mp-product-company-info">
    <div class="grid-container fedramp-page-container">

      <!-- Company Inforation Column-->

      <div class="grid-row">
        <div class="desktop:grid-col-6">
          <img src="{{product.logo}}" alt="{{product.name}}" title="{{product.name}}" class="product-info-logo">
          <h2 class="detail-company-info">{{product.cso}}</h2>

        </div>

        <div class="desktop:grid-col-6">
          <div class="grid-row product-info-stats">
            <div class="tablet:grid-col-4 info-box">
              <div class="request">
                <h3 class="package-id">Package ID</h3>
                <p>{{product.id}}</p>
                <p class="product-info-request-form"><a
                    href="https://www.fedramp.gov/assets/resources/documents/Agency_Package_Request_Form.pdf"
                    target="_blank" rel="noopener">Package Request Form</a></p>
              </div>

            </div>
            <div class="tablet:grid-col-4 info-box">
              <div class="stats">

                <div>
                  <h3 class="mp-info-title">Authorizations</h3>

                  <!-- Information Modal -->
                  <div class="mp-info-button">
                    <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal><svg
                        class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                      </svg></a>
                    <div class="usa-modal" id="example-modal-1" aria-labelledby="modal-1-heading"
                      aria-describedby="modal-1-description">
                      <div class="usa-modal__content">
                        <div class="usa-modal__main">

                          <div class="usa-prose">
                            <p id="modal-1-description">
                              Total number of Authority to Operate (ATO) or Authority to Use (ATU) letters on file with the FedRAMP PMO. This includes the initial ATO and any direct reuse ATO/ATUs issued by a federal agency.
                            </p>
                          </div>

                        </div>
                        <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                          data-close-modal>
                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- End Modal -->

                </div>

                <div class="clearfix"></div>

                <div class="product-info-authoriaztions-number counter">
                  <p>{{product.authorization}}</p>
                </div>
              </div>

            </div>

            <div class="tablet:grid-col-4 info-box">
              <div class="stats">

                <div>
                  <h3 class="mp-info-title">Reuse</h3>
                  <!-- Information Modal -->
                  <div class="mp-info-button">
                    <a href="#example-modal-2" class="usa-button" aria-controls="example-modal-2" data-open-modal><svg
                        class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                      </svg></a>
                    <div class="usa-modal" id="example-modal-2" aria-labelledby="modal-2-heading"
                      aria-describedby="modal-1-description">
                      <div class="usa-modal__content">
                        <div class="usa-modal__main">

                          <div class="usa-prose">
                            <p id="modal-2-description">
                              Total number reuse ATOs on file in addition to the total number of times this system is used by another FedRAMP Authorized product for each unique Provisional Authority to Operate (P-ATO), Authority to Operate (ATO) or Authority to Use (ATU) on file with FedRAMP.
                            </p>
                          </div>

                        </div>
                        <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                          data-close-modal>
                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- End Modal -->

                </div>
                <div class="clearfix"></div>

                <div class="product-info-reuse-number counter">
                  <p>{{product.reuse}}</p>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

      <!-- Status Chart -->

      <div class="grid-row grid-gap row justify-content-between">
        <div class="grid-col-12">
          <h3 class="mp-info-title">Authorization Status</h3>
           <!-- Information Modal -->
           <div class="mp-info-button mp-info-button-top-margin">
            <a href="#example-modal-3" class="usa-button" aria-controls="example-modal-3" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-3" aria-labelledby="modal-3-heading"
              aria-describedby="modal-3-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-3-description">
                      Please review the <a href="https://www.fedramp.gov/about-marketplace/" target="_blank">About FedRAMP Marketplace</a> page for more information about these designations.
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- End Modal -->

          <div class="authorization-status-chart padding-y-4 desktop:padding-x-15">
            <div class="grid-row">

              <div class="tablet:{{ gridClass }} status-container">

                <div class="current-status">
                  <p class=""><strong>Ready</strong></p>
                </div>
                <div
                  class="auth-flow-chart auth-{{ product.ready_status == 'Not Active' ? 'future' : 'ready completed' }} order-tracking first-order">
                  <span class="is-complete"></span></div>
                <p class="date">{{ product.ready_date == 'No FRR Date' || product.ready_date == '#N/A' ? 'N/A' : product.ready_date |
                  date:'MM/dd/YYYY'}}</p>
              </div>

              <div *ngIf="product.auth_type == 'Agency'; then midThen else midElse"></div>
              <ng-template #midThen>

                <div class="tablet:grid-col-3 status-container">
                  <div class="current-status">
                    <p class=""><strong>In Process:</strong><br>In Agency Review</p>
                  </div>
                  <div
                    class="auth-flow-chart auth-{{ product.ip_agency_date == 'Not Agency Partnered' ? ( product.ready_status == 'Not Active' ? 'future' : 'process') : 'ready completed' }} order-tracking">
                    <span class="is-complete"></span>
                  </div>
                  <p class="date">{{ product.ip_agency_date == 'Not Agency Partnered' || product.ip_agency_date == '#N/A' ? 'N/A' : product.ip_agency_date |
                    date:'MM/dd/YYYY'}}</p>

                </div>

                <div class="tablet:grid-col-3 status-container">
                  <div class="current-status">
                    <p class=""><strong>In Process:</strong><br>In PMO Review</p>
                  </div>
                  <div
                    class="auth-flow-chart auth-{{ product.ip_pmo_date == 'Not In Process' ? ( product.ip_agency_date == 'Not Agency Partnered' ? 'future' : 'process' ) : 'ready complete' }} order-tracking">
                    <span class="is-complete"></span>
                  </div>
                  <p class="date">{{ product.ip_pmo_date == 'Not In Process' ||  product.ip_pmo_date == '#N/A' ? 'N/A' : product.ip_pmo_date |
                    date:'MM/dd/YYYY'}}</p>
                </div>
              </ng-template>

              <ng-template #midElse>
                <div class="tablet:grid-col-4 status-container">
                  <div class="current-status">
                    <p class=""><strong>In Process:</strong><br>In JAB Review</p>
                  </div>
                  <div
                    class="auth-flow-chart auth-{{ product.ip_jab_date == 'Not Active' ? 'process' : 'ready completed' }} order-tracking ">
                    <span class="is-complete"></span>
                  </div>
                  <p class="date">{{ product.ip_jab_date == 'Not Active' || product.ip_jab_date == '#N/A' ? 'N/A' : product.ip_jab_date |
                    date:'MM/dd/YYYY'}}</p>
                </div>
              </ng-template>

              <div class="tablet:{{ gridClass }} status-container">
                <div class="current-status">
                  <p class=""><strong>Authorized</strong></p>
                </div>
                <div
                  class="auth-flow-chart auth-{{ product.fedramp_auth == 'Not Authorized' ? 'future' : 'ready completed' }} order-tracking">
                  <span class="is-complete"></span></div>
                <p class="date">{{ product.fedramp_auth == 'Not Authorized' || product.fedramp_auth == 'Not Active' || product.fedramp_auth == '#N/A' ? 'N/A' : product.fedramp_auth |
                  date:'MM/dd/YYYY'}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Details -->

      <div class="grid-row product-info-details">
        <div class="tablet:grid-col-6">
          <div>
            <h3 class="mp-info-title">Authorization Details</h3>
              <!-- Information Modal -->
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-4" class="usa-button" aria-controls="example-modal-4" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-4" aria-labelledby="modal-4-heading"
                  aria-describedby="modal-4-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-4-description">
                          This information is captured by FedRAMP as the Cloud Service Offering (CSO) proceeds through the FedRAMP process. Not all information may be applicable to this CSO.
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            <p><strong>Authorization Type:</strong> {{product.auth_type}}</p>
            <p><strong>FedRAMP Ready:</strong> {{product.fedramp_ready == 'No FRR Date' || product.fedramp_ready == '#N/A' ? product.fedramp_ready :
              product.fedramp_ready | date:'MM/dd/YYY'}}</p>
            <p><strong>JAB Review:</strong> {{product.ip_jab_date == 'Not Active' || product.ip_jab_date == '#N/A' ? product.ip_jab_date :
              product.ip_jab_date | date:'MM/dd/YYY'}}</p>
            <p><strong>Agency Review:</strong> {{product.ip_agency_date == 'Not Agency Partnered' || product.ip_agency_date == '#N/A' ?
              product.ip_agency_date : product.ip_agency_date | date:'MM/dd/YYY'}}</p>
            <p><strong>PMO Review:</strong> {{product.ip_pmo_date == 'Not In Process' || product.ip_pmo_date == '#N/A' ? product.ip_pmo_date :
              product.ip_pmo_date | date:'MM/dd/YYY'}}</p>
            <p><strong>FedRAMP Authorized:</strong> {{ product.fedramp_auth == 'Not Active' || product.fedramp_auth == '#N/A' ? product.fedramp_auth :
              product.fedramp_auth | date:'MM/dd/YYY'}}</p>
            <p><strong>Annual Assessment:</strong> {{product.annual_assessment == '#N/A' || product.annual_assessment == '#N/A' ? 'N/A' : product.annual_assessment | date:'MM/dd'}}</p>
            <p><strong>Independent Assessor:</strong> {{product.independent_assessor}}</p>
          </div>
        </div>


        <div class="tablet:grid-col-6">

          <div>
            <h3 class="mp-info-title">System Profile</h3>
              <!-- Information Modal -->
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-5" class="usa-button" aria-controls="example-modal-5" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-5" aria-labelledby="modal-5-heading"
                  aria-describedby="modal-5-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-5-description">
                          This information is captured by FedRAMP as the Cloud Service Offering (CSO) proceeds through the FedRAMP process.
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            <p><strong>Service Model:</strong> {{product.service_model}}</p>
            <p><strong>Deployment Model:</strong> {{product.deployment_model}}</p>
            <p><strong>Impact Level:</strong> {{product.impact_level}}</p>
          </div>
          <div>
            <div>
              <h3 class="mp-info-title">Dependent Products</h3>

              <!-- Information Modal -->
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-6" class="usa-button" aria-controls="example-modal-6" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-6" aria-labelledby="modal-6-heading"
                  aria-describedby="modal-6-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-6-description">
                          FedRAMP Authorized products that leverage this Cloud Service Offering (CSO).
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </div>
            <div class="clearfix"></div>

            <div
              *ngIf="product.leveraged_systems.length == 0; then leveraged_systemsThenBlock else leveraged_systemsElseBlock">
            </div>
            <ng-template #leveraged_systemsThenBlock>
              <div class="grid-row product-info-leveraged-systems tablet:padding-bottom-2">
                <div class="grid-col-4 ">
                  <p><strong>None</strong></p>
                </div>
              </div>
            </ng-template>
            <ng-template #leveraged_systemsElseBlock>
              <div *ngFor="let i of product.leveraged_systems"
                class="grid-row product-info-leveraged-systems tablet:padding-bottom-2">
                <div class="grid-col-6 ">
                  <p><strong>{{i.csp}}</strong></p>
                </div>
                <div class="grid-col-6 ">
                  <a href="/products/{{i.id}}">{{i.cso}}</a>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>


      <div class="grid-row product-info-details info-authorizations-reuse">

        <div class="tablet:grid-col-12">
          <div>
            <div>
              <h3 class="mp-info-title">Authorizing Entity</h3>

              <!-- Information Modal -->
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-7" class="usa-button" aria-controls="example-modal-7" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-7" aria-labelledby="modal-7-heading"
                  aria-describedby="modal-7-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-7-description">
                          Name(s) of organization(s) that has/have issued a unique Provisional Authority to Operate (P-ATO), Authority to Operate (ATO) or Authority to Use (ATU) for this Cloud Service Offering (CSO).
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal -->

            </div>
            <div class="clearfix"></div>

            <div class="mp-product-columns">
              <div
                *ngIf="product.agency_authorizations.length == 0; then agency_authsThenBlock else agency_authsElseBlock">
              </div>
              <ng-template #agency_authsThenBlock>
                <p>None</p>
              </ng-template>
              <ng-template #agency_authsElseBlock>
                <div *ngFor="let i of product.agency_authorizations">
                  <p>- {{i}}</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

      <!-- 
        <div class="tablet:grid-col-12">
          <div>
            <div>
              <h3 class="mp-info-title">Reuse</h3>
              <!-- Information Modal
              <div class="mp-info-button mp-info-button-top-margin">
                <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal><svg
                    class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                  </svg></a>
                <div class="usa-modal" id="example-modal-1" aria-labelledby="modal-1-heading"
                  aria-describedby="modal-1-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">

                      <div class="usa-prose">
                        <p id="modal-1-description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in
                          malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis
                          hendrerit sapien lobortis.
                        </p>
                      </div>

                    </div>
                    <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                      data-close-modal>
                      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <!-- End Modal

            </div>
            <div class="clearfix"></div>

            <div class="mp-product-columns">
              <div *ngIf="product.agency_reuse.length == 0; then agency_reuseThenBlock else agency_reuseElseBlock">
              </div>
              <ng-template #agency_reuseThenBlock>
                <p>None</p>
              </ng-template>
              <ng-template #agency_reuseElseBlock>
                <div *ngFor="let i of product.agency_reuse">
                  <p>- {{i}}</p>
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      -->

      </div>

    </div>
  </section>

  <section class="mp-product-company-details">
    <div class="grid-container fedramp-page-container">

      <div class="grid-row">
        <div class="grid-col-12">
          <p><em>Information below is provided by the CSP and has not been vetted by FedRAMP</em></p>
        </div>
      </div>


      <!-- Company Information Column-->

      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-6">
          <h3 class="mp-info-title">Service Description</h3>
           <!-- Information Modal -->
           <div class="mp-info-button mp-info-button-top-margin">
            <a href="#example-modal-8" class="usa-button" aria-controls="example-modal-8" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-8" aria-labelledby="modal-8-heading"
              aria-describedby="modal-8-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-8-description">
                      The service description is provided by the Cloud Service Provider (CSP) and is intended to be a description that provides an understanding of the components, functions, and features of the Cloud Service Offering (CSO). The service description should incorporate the functional and non-functional characteristics of the CSO.
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- End Modal -->


          <p style="white-space: pre-wrap;">{{product.service_desc}}</p>
        </div>
        <div class="tablet:grid-col-6">
          <div class="grid-row">
            <div class="grid-col-8">
              <h3 class="mp-info-title">Contact Information</h3>

              <!-- Information Modal -->
           <div class="mp-info-button mp-info-button-top-margin">
            <a href="#example-modal-10" class="usa-button" aria-controls="example-modal-10" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-10" aria-labelledby="modal-10-heading"
              aria-describedby="modal-10-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-10-description">
                      For all security related questions/concerns please reach out to the security email provided. For sales related inquiries please use the sales email provided.
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- End Modal -->
              <p><strong>Sales E-mail:</strong></p>
              <p><a href="mailto:{{product.sales_email}}">{{product.sales_email}}</a></p>
              <p><strong>Security E-mail:</strong></p>
              <p><a href="mailto:{{product.security_email}}">{{product.security_email}}</a></p>
              <p><strong>Website:</strong></p>
              <p><a href="{{product.website}}" target="_blank" rel="noopener">{{product.website}}</a></p>
            </div>
            <div class="grid-col-4">
              <h3 class="mp-info-title">UEI Number</h3>

              <!-- Information Modal -->
           <div class="mp-info-button mp-info-button-top-margin">
            <a href="#example-modal-11" class="usa-button" aria-controls="example-modal-11" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-11" aria-labelledby="modal-11-heading"
              aria-describedby="modal-11-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-11-description">
                      The <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/integrated-award-environment-iae/iae-systems-information-kit/unique-entity-identifier-update" target="_blank">Unique Entity Identifier (UEI)</a> replaced the Data Universal Numbering System (DUNS) number for entities who sell their product directly to the U.S. Government. Not all vendors will have a UEI number. For vendors who are interested in registering for a UEI, <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/integrated-award-environment-iae/iae-systems-information-kit/unique-entity-identifier-update" target="_blank">Please visit here</a>. The UEI numbers listed in this section have been provided by the Cloud Service Offering (CSO).
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- End Modal -->
              <p>{{product.uei}}</p>
              <!--
              <h3>Small Business</h3>
              <p>{{product.small_business}}</p>
              -->
            </div>

          </div>


          <div>
            <h3 class="mp-info-title">Business Function</h3>

            <!-- Information Modal -->
           <div class="mp-info-button mp-info-button-top-margin">
            <a href="#example-modal-12" class="usa-button" aria-controls="example-modal-12" data-open-modal><svg
                class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
              </svg></a>
            <div class="usa-modal" id="example-modal-12" aria-labelledby="modal-12-heading"
              aria-describedby="modal-12-description">
              <div class="usa-modal__content">
                <div class="usa-modal__main">

                  <div class="usa-prose">
                    <p id="modal-12-description">
                      Business functions are intended to be high-level filter functions that stakeholders can sort through. FedRAMP cannot include every business function, so please ensure you review the “Service Description” which should support the information provided here. FedRAMP has only allotted up to 10 business functions to be identified per Cloud Service Offering (CSO).
                    </p>
                  </div>

                </div>
                <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                  data-close-modal>
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!-- End Modal -->
            <div
              *ngIf="product.business_function.length == 0 || product.business_function == ''; then business_functionThenBlock else business_functionElseBlock">
            </div>
            <ng-template #business_functionThenBlock>
              <p>None</p>
            </ng-template>
            <ng-template #business_functionElseBlock>
              <ul>
                <div *ngFor="let i of product.business_function">
                  <li>{{i}}</li>
                </div>
              </ul>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12">
          <div>
            <h3 class="mp-info-title">Authorized Service</h3>
            <!-- Information Modal -->
            <div class="mp-info-button mp-info-button-top-margin">
              <a href="#example-modal-1" class="usa-button" aria-controls="example-modal-1" data-open-modal><svg
                  class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#info"></use>
                </svg></a>
              <div class="usa-modal" id="example-modal-1" aria-labelledby="modal-1-heading"
                aria-describedby="modal-1-description">
                <div class="usa-modal__content">
                  <div class="usa-modal__main">

                    <div class="usa-prose">
                      <p id="modal-1-description">
                        If there are microservices or applications included within this Cloud Service Offerings (CSO) authorization boundary, they should be listed within this section. This may be more applicable to the Infrastructure-as-a-Service model vendors.
                      </p>
                    </div>

                  </div>
                  <button type="button" class="usa-button usa-modal__close" aria-label="Close this window"
                    data-close-modal>
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                      <use xlink:href="../../assets/uswds-package/dist/img/sprite.svg#close"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <!-- End Modal -->

          </div>
          <div class="clearfix"></div>
          <h4>Service(s) Added in the last 90 days</h4>
          <div *ngIf="product.service_last_90.length == 0; then last90ThenBlock else last90ElseBlock"></div>
          <ng-template #last90ThenBlock>
            <p>None</p>
          </ng-template>
          <ng-template #last90ElseBlock>
            <ul class="90day-services three-columns">
              <div *ngFor="let i of product.service_last_90">
                <li>{{i}}</li>
              </div>
            </ul>
          </ng-template>

          <h4>Other Service(s)</h4>
          <div *ngIf="product.all_others.length == 0; then all_othersThenBlock else all_othersElseBlock"></div>
          <ng-template #all_othersThenBlock>
            <p>None</p>
          </ng-template>
          <ng-template #all_othersElseBlock>
            <ul class="product-info-services">
              <div *ngFor="let i of product.all_others">
                <li>{{i}}</li>
              </div>
            </ul>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</div>