<section class="mp-product-company-info">
    <div class="grid-container fedramp-page-container">

        <!-- Company Inforation Column-->
    
        <div class="grid-row">
            <div class="desktop:grid-col-6">
                <img src="../../assets/images/logos/cloud-gov-logo.png" alt="Cloud.gov" title="Cloud.gov" class="product-info-logo" >
                <h2 class="detail-company-info">18F Cloud.gov</h2>
           
            </div>
        
            <div class="desktop:grid-col-6">
                <div class="grid-row product-info-stats">
                        <div class="tablet:grid-col-4 info-box">
                            <div class="request">
                                <h3 class="package-id">Package ID</h3>
                                <p>F1607067912</p>
                                <p class="product-info-request-form"><a href="#" target="_blank">Package Request Form</a></p>
                            </div>

                        </div>
                        <div class="tablet:grid-col-4 info-box">
                            <div class="stats">

                             <div>
                                <h3 class="mp-info-title">Authorizations</h3>

                                 <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                
                            </div>

                            <div class="clearfix"></div>
                                
                                <div class="product-info-authoriaztions-number counter"><p>2</p></div>
                            </div>

                        </div>
                        <div class="tablet:grid-col-4 info-box">
                            <div class="stats">

                                <div>
                                    <h3 class="mp-info-title">Reuse</h3>
                                    <!-- Information Modal -->
                                 <div class="mp-info-button">
                                    <a
                                      href="#example-modal-1"
                                      class="usa-button"
                                      aria-controls="example-modal-1"
                                      data-open-modal
                                      ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                        <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                                      </svg></a
                                    >
                                    <div
                                      class="usa-modal"
                                      id="example-modal-1"
                                      aria-labelledby="modal-1-heading"
                                      aria-describedby="modal-1-description"
                                    >
                                      <div class="usa-modal__content">
                                        <div class="usa-modal__main">
                                         
                                          <div class="usa-prose">
                                            <p id="modal-1-description">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                            </p>
                                          </div>
                                     
                                        </div>
                                        <button
                                          type="button"
                                          class="usa-button usa-modal__close"
                                          aria-label="Close this window"
                                          data-close-modal
                                        >
                                          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                                          </svg>
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Modal -->
                                    
                                </div>
                                <div class="clearfix"></div>

                                <div class="product-info-reuse-number counter"><p>12</p></div>
                            </div>
                           

                        </div>
                </div>
            </div>
        </div>

        <!-- Status Chart -->
    
        <div class="grid-row grid-gap">
            <div class="grid-col-12">
                <h3>Authorization Status</h3>
                <div class="authorization-status-chart padding-y-4 desktop:padding-x-15"> 
                        <div class="grid-row">
                            <div class="tablet:grid-col-3 status-container">
                                <div class="current-status"><p class=""><strong>Ready</strong></p></div>
                                <div class="auth-flow-chart auth-ready"></div>
                                <p class="date">8/9/2016</p>
                            </div>

                            <div class="tablet:grid-col-3 status-container">
                                <div class="current-status"><p class=""><strong>In Process:</strong><br>Agency Review</p></div>
                                <div class="auth-flow-chart auth-ready"></div>
                                <p class="date">10/9/2016</p>
                            </div>

                            <div class="tablet:grid-col-3 status-container">
                                <div class="current-status"><p class=""><strong>In Process:</strong><br>PMO Review</p></div>
                                <div class="auth-flow-chart auth-process"></div>
                                <p class="date">8/19/2016</p>
                            </div>

                            <div class="tablet:grid-col-3 status-container">
                                <div class="current-status"><p class=""><strong>Authorized</strong></p></div>
                                <div class="auth-flow-chart auth-future"></div>
                                <p class="date">12/19/2016</p>
                            </div>

                        </div>
                </div>
            </div>
        </div>

        <!-- Details -->
    
        <div class="grid-row product-info-details">
            <div class="tablet:grid-col-6">
                <div>
                    <h3>Authorization Details</h3>
                    <p><strong>Authorization Type:</strong> JAB</p>
                    <p><strong>FedRAMP Ready:</strong> N/A</p>
                    <p><strong>FedRAMP In Process:</strong> 8/9/2016<br>
                        Agency Review: 8/9/2016<br>
                        PMO Review: 12/9/2016<br>
                        JAB Review: 8/9/2016</p>
                    <p><strong>FedRAMP Authorized:</strong> TBD</p>
                    <p><strong>Annual Assessment:</strong> Month, Day</p>
                    <p><strong>Independent Assessor:</strong> Coalfire Systems, Inc.</p>
                </div>

                <div>
                    <h3>System Profile</h3>
                    <p><strong>Service Model:</strong> PaaS</p>
                    <p><strong>Deployment Model:</strong> Government Community Cloud</p>
                    <p><strong>Impact Level:</strong> Moderate</p>
                </div>
                <div>
                    <div>
                        <h3 class="mp-info-title">Leveraged Systems</h3>
                        <!-- Information Modal -->
                     <div class="mp-info-button mp-info-button-top-margin">
                        <a
                          href="#example-modal-1"
                          class="usa-button"
                          aria-controls="example-modal-1"
                          data-open-modal
                          ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                          </svg></a
                        >
                        <div
                          class="usa-modal"
                          id="example-modal-1"
                          aria-labelledby="modal-1-heading"
                          aria-describedby="modal-1-description"
                        >
                          <div class="usa-modal__content">
                            <div class="usa-modal__main">
                             
                              <div class="usa-prose">
                                <p id="modal-1-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                </p>
                              </div>
                         
                            </div>
                            <button
                              type="button"
                              class="usa-button usa-modal__close"
                              aria-label="Close this window"
                              data-close-modal
                            >
                              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                        
                    </div>
                    <div class="clearfix"></div>

                    <div class="grid-row product-info-leveraged-systems ">
                        <div class="grid-col-4 ">
                            <strong>AchieveIt Online, LLC.</strong>
                        </div>
                        <div class="grid-col-4">
                            <a href="#">AchieveIt</a>
                        </div>
                        <div class="grid-col-4">
                            Authroized
                        </div>
                    </div>
                </div>
            </div>

            <div class="tablet:grid-col-6">
                <div>
                    <div>
                        <h3 class="mp-info-title">Agency Authorizations</h3>
                        <!-- Information Modal -->
                     <div class="mp-info-button mp-info-button-top-margin">
                        <a
                          href="#example-modal-1"
                          class="usa-button"
                          aria-controls="example-modal-1"
                          data-open-modal
                          ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                          </svg></a
                        >
                        <div
                          class="usa-modal"
                          id="example-modal-1"
                          aria-labelledby="modal-1-heading"
                          aria-describedby="modal-1-description"
                        >
                          <div class="usa-modal__content">
                            <div class="usa-modal__main">
                             
                              <div class="usa-prose">
                                <p id="modal-1-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                </p>
                              </div>
                         
                            </div>
                            <button
                              type="button"
                              class="usa-button usa-modal__close"
                              aria-label="Close this window"
                              data-close-modal
                            >
                              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                        
                    </div>
                    <div class="clearfix"></div>
                    <p>Defense Information Systems Agency</p>
                    <p>Department of Agriculture</p>
                </div>                   

                <div>
                    <div>
                        <h3 class="mp-info-title">Reuse</h3>
                        <!-- Information Modal -->
                     <div class="mp-info-button mp-info-button-top-margin">
                        <a
                          href="#example-modal-1"
                          class="usa-button"
                          aria-controls="example-modal-1"
                          data-open-modal
                          ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                          </svg></a
                        >
                        <div
                          class="usa-modal"
                          id="example-modal-1"
                          aria-labelledby="modal-1-heading"
                          aria-describedby="modal-1-description"
                        >
                          <div class="usa-modal__content">
                            <div class="usa-modal__main">
                             
                              <div class="usa-prose">
                                <p id="modal-1-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                </p>
                              </div>
                         
                            </div>
                            <button
                              type="button"
                              class="usa-button usa-modal__close"
                              aria-label="Close this window"
                              data-close-modal
                            >
                              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                        
                    </div>
                    <div class="clearfix"></div>
                    <p>Defense Information Systems Agency</p>
                    <p>Department of Agriculture</p>
                    <p>Department of Defense</p>
                    <p>Department of the Treasury</p>
                    <p>Environmental Protection Agency</p>
                    <p>Federal Deposit Insurance Corporation</p>
                    <p>Federal Election Commission</p>
                    <p>General Services Administration</p>
                    <p>Internal Revenue Service</p>
                    <p>National Science Foundation</p>
                    <p>United States Agency for International Development</p>
                    <p>United States Forest Service</p>
                </div>
            </div>
        </div>
                
    </div>
    </section>

    <section class="mp-product-company-details">
        <div class="grid-container fedramp-page-container">

            <div class="grid-row">
                <div class="grid-col-12">
                    <p><em>Disclaimer: Information below is provided by the CSP and has not been vetted by FedRAMP</em></p>
                </div>
            </div>

    
            <!-- Company Information Column-->
        
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                    <h3>Service Description</h3>
                    <p>Cloud.gov is designed and operated by US government workers, for US government work. Cloud.gov reduces the barriers to rapid, incremental, compliant, secure, and scalable delivery of government services by all government agencies, leveraging best-of-breed modern practices. Cloud.gov provides a Platform-as-a-Service (PaaS) based on Cloud Foundry, enabling instant provisioning of services and environments, easy deployment of applications, and rapid scaling to match demand. cloud.gov includes tools to quickly incorporate 800-53 NIST control documentation into easily-prepared and comprehensive System Security Plans (SSPs) for evaluation by local agency information security organizations or FedRAMP, reducing the time it takes for teams to gain Authority To Operate (ATO).</p>
                </div>
                <div class="tablet:grid-col-6">
                    <div class="grid-row">
                        <div class="grid-col-6">
                            <h3>Contact Information</h3>
                            <p><strong>Sales E-mail:</strong></p>
                            <p><a href="#">sales@cloud.gov</a></p>
                            <p><strong>Security E-mail:</strong></p>
                            <p><a href="#">security@cloud.gov</a></p>
                            <p><strong>Website:</strong></p>
                            <p><a href="#" target="_blank">www.cloud.gov</a></p>
                        </div>
                        <div class="grid-col-6">
                            <h3>UEI Number</h3>
                            <p>123-456-7890</p>
                            <h3>Small Business</h3>
                            <p>N/Y</p>
                        </div>

                    </div>
                    
                    
                    <div>
                        <h3>Business Function</h3>
                        <ul>
                            <li>Applications Advisory & Consulting Services</li>
                            <li>Applications Architecture Services</li>
                            <li>Applications Automation & Orchestration Services</li>
                            <li>Applications Container Services</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-12">
                    <div>
                        <h3 class="mp-info-title">Authorized Service</h3>
                        <!-- Information Modal -->
                     <div class="mp-info-button mp-info-button-top-margin">
                        <a
                          href="#example-modal-1"
                          class="usa-button"
                          aria-controls="example-modal-1"
                          data-open-modal
                          ><svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="../../assets/uswds/dist/img/sprite.svg#info"></use>
                          </svg></a
                        >
                        <div
                          class="usa-modal"
                          id="example-modal-1"
                          aria-labelledby="modal-1-heading"
                          aria-describedby="modal-1-description"
                        >
                          <div class="usa-modal__content">
                            <div class="usa-modal__main">
                             
                              <div class="usa-prose">
                                <p id="modal-1-description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan aliquet risus in malesuada. Mauris sit amet odio quam. Aenean rutrum sem sit amet sapien egestas, iaculis hendrerit sapien lobortis.
                                </p>
                              </div>
                         
                            </div>
                            <button
                              type="button"
                              class="usa-button usa-modal__close"
                              aria-label="Close this window"
                              data-close-modal
                            >
                              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                <use xlink:href="../../assets/uswds/dist/img/sprite.svg#close"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <!-- End Modal -->
                        
                    </div>
                    <div class="clearfix"></div>
                    <h4>Service(s) Added in the last 90 days</h4>
                    <ul class="90day-services">
                        <li>Amazon API Gateway</li>
                        <li>Amazon AppStream 2.0</li>
                        <li>Amazon Athena</li>
                    </ul>

                    <h4>Service(s) Added in the last 90 days</h4>
                    <ul class="product-info-services">
                        <li>Amazon Cloud Directory</li>
                        <li>Amazon CloudFront</li>
                        <li>Amazon CloudWatch</li>
                        <li>Amazon CloudWatch Logs</li>
                        <li>AWS CloudHSM</li>
                        <li>Amazon Cognito</li>
                        <li>Amazon Comprehend</li>
                        <li>Amazon Comprehend Medical</li>
                        <li>Amazon Connect</li>
                        <li>Amazon Detective</li>
                        <li>Amazon DynamoDB</li>
                        <li>Amazon ElastiCache for Redis</li>
                        <li>Amazon Elastic Block Store (EBS)</li>
                        <li>Amazon Elastic Container Registry (ECR)</li>
                        <li>Amazon Elastic Container Service (ECS)</li>
                        <li>Amazon Elastic File System (EFS)</li>
                        <li>Amazon Elastic Compute Cloud (EC2)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
