<app-about-marketplace></app-about-marketplace>

<app-links></app-links>


<section>
  <div class="grid-container mp-search-main">
      <div class="grid-row">
          <div class="tablet:grid-col-2 grid-offset-10 padding-0 page-display-select">
              <p>Number of items shown at a time</p>
              <select name="display-number" id="display-number">
                <option value="twenty-five">25</option>
                <option value="fifty">50</option>
                <option value="seventy-five">75</option>
                <option value="one-hundred">100</option>
                </select>
  

          </div>
      </div>
  </div>

  <div class="grid-container padding-3 marketplace-type-container">
     
      <!-- Search Column-->
      <div class="grid-row display-none desktop:display-flex">
          <div class="tablet:grid-col-2 padding-right-3 results-search">
              <label>X Clear All</label>
              <br>
              <input type="text" id="clear-search" name="clear-search" placeholder="Search by Provider or Product" >



              <p class="mp-container-total-search-results">301 results</p>


             <!-- Accordian -->       
             <div class="search-container">

              <label for="chk-1">
              
              <input id="chk-1" type="checkbox"/>
               <div class="title">
                   <h4 class="accordian-title">Parent Agency</h4>
               </div>
                <div class="search-content">
                  <ul>
                      <li>ABMC</li>
                      <li>AO</li>
                      <li>CCR</li>
                      <li>CFPB</li>
                      <li>CFTC</li>
                      <li>CNCS</li>
                      <li>COFA</li>
                      <li>CPSC</li>
                      <li>CSOSA</li>
                      <li>DFC</li>
                      <li>DHS</li>
                      <li>DNFSB</li>
                      <li>DOC</li>
                      <li>DOD</li>
                      <li>DOE</li>
                      <li>DOI</li>
                      <li>DOJ</li>
                      <li>DOL</li>
                      <li>DOS</li>
                      <li>DOT</li>
                      <li>EAC</li>
                      <li>ED</li>
                      <li>EEOC</li>
                      <li>EOP</li>
                      <li>EPA</li>
                      <li>EXIM</li>
                      <li>FCA</li>
                      <li>FCC</li>
                      <li>FDIC</li>
                      <li>FEC</li>
                      <li>FHFA</li>
                      <li>FRS</li>
                      <li>FRTIB</li>
                      <li>FTC</li>
                      <li>GPO</li>
                      <li>GSA</li>
                      <li>HERITAGEABROAD</li>
                      <li>HHS</li>
                      <li>HOR</li>
                      <li>HUD</li>
                      <li>IGNET</li>
                      <li>IMLS</li>
                      <li>JAB</li>
                      <li>LOC</li>
                      <li>MCC</li>
                      <li>MSHFRC</li>
                      <li>NARA</li>
                      <li>NASA</li>
                      <li>NCPC</li>
                      <li>NEA</li>
                      <li>NEH</li>
                      <li>NGA</li>
                      <li>NLRB</li>
                      <li>NMB</li>
                      <li>NRC</li>
                      <li>NSF</li>
                      <li>NTSB</li>
                      <li>OGE</li>
                      <li>OPM</li>
                      <li>OSC</li>
                      <li>OTHER</li>
                      <li>PBGC</li>
                      <li>PC</li>
                      <li>PRC</li>
                      <li>PSA</li>
                      <li>RRB</li>
                      <li>SBA</li>
                      <li>SEC</li>
                      <li>SSA</li>
                      <li>STB</li>
                      <li>TREAS</li>
                      <li>TVA</li>
                      <li>USAB</li>
                      <li>USAC</li>
                      <li>USAGM</li>
                      <li>USAID</li>
                      <li>USCP</li>
                      <li>USDA</li>
                      <li>USITC</li>
                      <li>USPS</li>
                      <li>USTDA</li>
                      <li>VA</li>
                  </ul>
                </div>
              </label>
              
              <label for="chk-2">
              <input id="chk-2" type="checkbox" />
                <div class="title">
                   <h4 class="accordian-title">Authorizations</h4>
               </div>
                
                <div class="search-content">
                  <ul>
                    <li>0-5</li>
                      <li>6-10</li>
                      <li>11-20</li>
                      <li>21+</li>
                  </ul>
                </div>
              </label>

              <label for="chk-3">
                <input id="chk-3" type="checkbox" />
                  <div class="title">
                     <h4 class="accordian-title">Impact Level</h4>
                 </div>
                  
                  <div class="search-content">
                    <ul>
                      <li>0-5</li>
                      <li>6-10</li>
                      <li>11-20</li>
                      <li>21+</li>
                    </ul>
                  </div>
                </label>
                <label for="chk-4">
                  <input id="chk-4" type="checkbox" />
                    <div class="title">
                       <h4 class="accordian-title">Reuse</h4>
                   </div>
                    
                    <div class="search-content">
                      <ul>
                        <li>Li-Saas</li>
                      <li>Low</li>
                      <li>Moderate</li>
                      <li>High</li>
                      </ul>
                    </div>
                  </label>
                
              </div>
      
          </div>
        
          <!-- Results Column-->
          <div class="grid-col-10">
            <div class="grid-row search-sortable mp-sortable-column display-none desktop:display-flex">
                <div class="grid-col-4 agencies_column-parent_agency">
                    <span>Parent Agency</span>
                </div>
                <div class="grid-col-4 agencies_column-department_agency">
                    <span>Department/Agency</span>
                </div>
                <div class="grid-col-2 agencies_column-authorizations text-center">
                    <span>Authorizations</span>
                </div>
                <div class="grid-col-2 agencies_column-reuse text-center">
                    <span>Reuse</span>
                </div>
            </div>

            
            <div *ngIf="isCachePresent">
              <div *ngFor="let a of data.Agencies">
                <div class="grid-row mp-search-results">
                  <div class="grid-col-4 agencies_column-parent_agency">
                    <a href="/agencies/{{a.id}}" target="_blank"><span>{{a.parent}}</span></a>
                  </div>
                  <div class="grid-col-4 agencies_column-department_agency">
                    <span>{{a.sub}}</span>
                  </div>
                  <div class="grid-col-2 agencies_column-authorizations text-center">
                    <span>{{a.authorization}}</span>
                  </div>
                  <div class="grid-col-2 agencies_column-reuse text-center">
                    <span>{{a.reuse}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

      </div>

             <!-- Mobile Accordian -->

             <div class="search-container desktop:display-none">

              <label for="chk-m1">
              
              <input id="chk-m1" type="checkbox" />
               <div class="mobile-title">
                   <h4 class="mobile-search-title">Filter Results</h4>
               </div>
                <div class="search-content">
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <p>Number of items shown at a time</p>
                      <select name="display-number" id="display-number">
                        <option value="twenty-five">25</option>
                        <option value="fifty">50</option>
                        <option value="seventy-five">75</option>
                        <option value="one-hundred">100</option>
                        </select>
                    </div>
                </div>
                <div class="grid-row">
                  <div class="grid-col-3">
                    <p>Parent Agency</p>
                    <ul>
                      <li>ABMC</li>
                      <li>AO</li>
                      <li>CCR</li>
                      <li>CFPB</li>
                      <li>CFTC</li>
                      <li>CNCS</li>
                      <li>COFA</li>
                      <li>CPSC</li>
                      <li>CSOSA</li>
                      <li>DFC</li>
                      <li>DHS</li>
                      <li>DNFSB</li>
                      <li>DOC</li>
                      <li>DOD</li>
                      <li>DOE</li>
                      <li>DOI</li>
                      <li>DOJ</li>
                      <li>DOL</li>
                      <li>DOS</li>
                      <li>DOT</li>
                      <li>EAC</li>
                      <li>ED</li>
                      <li>EEOC</li>
                      <li>EOP</li>
                      <li>EPA</li>
                      <li>EXIM</li>
                      <li>FCA</li>
                      <li>FCC</li>
                      <li>FDIC</li>
                      <li>FEC</li>
                      <li>FHFA</li>
                      <li>FRS</li>
                      <li>FRTIB</li>
                      <li>FTC</li>
                      <li>GPO</li>
                      <li>GSA</li>
                      <li>HERITAGEABROAD</li>
                      <li>HHS</li>
                      <li>HOR</li>
                      <li>HUD</li>
                      <li>IGNET</li>
                      <li>IMLS</li>
                      <li>JAB</li>
                      <li>LOC</li>
                      <li>MCC</li>
                      <li>MSHFRC</li>
                      <li>NARA</li>
                      <li>NASA</li>
                      <li>NCPC</li>
                      <li>NEA</li>
                      <li>NEH</li>
                      <li>NGA</li>
                      <li>NLRB</li>
                      <li>NMB</li>
                      <li>NRC</li>
                      <li>NSF</li>
                      <li>NTSB</li>
                      <li>OGE</li>
                      <li>OPM</li>
                      <li>OSC</li>
                      <li>OTHER</li>
                      <li>PBGC</li>
                      <li>PC</li>
                      <li>PRC</li>
                      <li>PSA</li>
                      <li>RRB</li>
                      <li>SBA</li>
                      <li>SEC</li>
                      <li>SSA</li>
                      <li>STB</li>
                      <li>TREAS</li>
                      <li>TVA</li>
                      <li>USAB</li>
                      <li>USAC</li>
                      <li>USAGM</li>
                      <li>USAID</li>
                      <li>USCP</li>
                      <li>USDA</li>
                      <li>USITC</li>
                      <li>USPS</li>
                      <li>USTDA</li>
                      <li>VA</li>
                  </ul>
                  </div>
                  <div class="grid-col-3">
                    <p>Authorizations</p>  
                    <ul>
                      <li>0-5</li>
                      <li>6-10</li>
                      <li>11-20</li>
                      <li>21+</li>
                    </ul>           
                  </div>
                  <div class="grid-col-3">
                    <p>Reuse</p>
                    <ul>
                      <li>0-5</li>
                      <li>6-10</li>
                      <li>11-20</li>
                      <li>21+</li>
                    </ul>
      
                  </div>
                  <div class="grid-col-3">
                    <p>Impact Level</p>
                    <ul>
                      <li>Li-Saas</li>
                      <li>Low</li>
                      <li>Moderate</li>
                      <li>High</li>
                    </ul>
      
                  </div>
                </div>
                </div>
              </label>
                
              </div>   
   

              <!-- Mobile Search Results -->
    
              <div *ngIf="isCachePresent">
                <div *ngFor="let a of data.Agencies">
                  <a href="/agencies/{{a.id}}" target="_blank" class="company-info-link">
                    <div class="grid-row mp-search-results mobile-results padding-4 display-flex desktop:display-none">
                      <div class="grid-col-12 company-logo-column agencies_column-parent_agency">
                        <span>{{a.parent}}</span>
                      </div>
                      <div class="grid-col-12 agencies_column-department_agency">
                      <span>{{a.sub}}</span>
                      </div>
                      <div class="grid-col-12 padding-0">
                        <div class="grid-row grid-gap">
                          <div class="grid-col-6">
                            <div class="product_column-authorization result">
                              <h4>Authorizations</h4>
                              <p><span>{{a.authorization}}</span></p>
                            </div>
                          </div>
                          <div class="grid-col-6">
                            <div class="product_column-reuse result">
                              <h4>Reuse</h4>
                              <p><span>{{a.reuse}}</span></p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

      <!-- Pagination -->

      <nav aria-label="Pagination" class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Previous page"
        ><svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="../../assets/uswds/dist/img/sprite.svg#navigate_before"></use>
        </svg>
        <span class="usa-pagination__link-text">Previous</span></a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 1"
        >1</a
      >
    </li>
    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span>…</span>
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 9"
        >9</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Page 10"
        aria-current="page"
        >10</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 11"
        >11</a
      >
    </li>
    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span>…</span>
    </li>
    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Last page, page 24"
        >24</a
      >
    </li>
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Next page"
        ><span class="usa-pagination__link-text">Next </span
        ><svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/../../assets/uswds/dist/img/sprite.svg#navigate_next"></use></svg></a>
    </li>
  </ul>
</nav>

  </div>
  </section>
